@import url(main_css);

.landing-page {
    background-color: var(--background);
    color: var(--white-font);
    height: 100vh;
    overflow-y: hidden;
}

.logo-lp {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.container-lp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -20px;
}

.container-lp h1 {
    font-size: 64px;
}

.container-lp span {
    color: var(--primary);
}

.container-lp p {
    margin-bottom: 32px;
}

.btn-lp {
    display: inline-block;
    width: 200px;
    border-radius: var(--radius);
    padding: 6px;
    text-align: center;
    text-decoration: none;
}

.btn:hover-lp {
    cursor: pointer;
}

.btn-entrar-lp {
    background-color: var(--primary);
    color: var(--primary-font);
}

.btn-entrar-lp:visited {
    color: var(--primary-font);
}

.btn-entrar-lp:hover {
    background-color: var(--primary-foreground);
    transition: .3s;
}
  
.btn-cadastrar-lp {
    background-color: var(--primary-font);
}

.btn-cadastrar-lp:visited {
    color: var(--white-font);
}

.btn-cadastrar-lp:hover {
    background-color: var(--secondary-font);
    transition: .3s;
}